body {
  background-color: #fcf9a9a1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* 헤더 */
h1 > img {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 입력란 */
.novelForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Poor Story", cursive;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button button:hover {
  background-color: #45a049;
}

/* 홈화면으로 가기 */
.home {
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  margin-top: -40px;
  margin-left: -90%;
}

.home button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.home img {
  width: 40px;
  height: auto;
}
