.body {
  background-color: blanchedalmond;
}

/* nav */
.navbar-brand {
  font-family: "Hahmlet", serif;
}
.navbar-nav .nav-link {
  font-family: "Hahmlet", sans-serif;
}

/* header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  max-width: 100%;
  height: 38.5vh;
  margin-bottom: 20px;
  margin-top: 3%;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/room.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}

.logo {
  position: absolute;
  top: calc(50% - 5px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo img {
  width: 50%;
  height: auto;
  filter: none;
  margin-bottom: 10px;
}

.title {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title img {
  width: 50%;
  height: auto;
  filter: none;
  margin-bottom: 10px;
}

/* gallery */
@media (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .gallery img {
    width: 90%;
    margin: 10px auto;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  height: 25vh;
  width: 45vh;
  border-radius: 10px;
  margin: 10px 40px 0px 40px;
}

.gallery button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gallery button h2 {
  margin-top: 10px;
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.gallery button:hover {
  transform: scale(1.05);
}

/* footer */
.footer {
  background-color: #343a40;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer h3 {
  color: #cecebe;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.footer p {
  color: #cecebe;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 10px;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 5px 0 5px 0;
}
