body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

/* h1 */
h1 {
  display: flex;
  align-items: center;
}

h1 > img {
  height: 90px;
  margin-right: 10px;
}

.main {
  position: relative;
}

/* 채팅 */
.chating {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(70, 123, 163);
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: rgb(33, 220, 192);
  overflow-y: auto;
}

.chat-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.chat-list li {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.answer {
  background-color: #d1f5ff;
  text-align: right;
}

/* label */
.label {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
}

.label img {
  width: 50%;
  max-width: 1200px;
  margin-top: 10px;
}

/* 챗봇 */
.chatbot img {
  width: 10%;
  max-width: 100px;
  margin-left: 10px;
}

.speech-bubble {
  background-color: #f2f2f2;
  color: #333333;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  left: -5%; /* 말풍선을 가운데에서 오른쪽으로 이동시킴 */
  transform: translateX(50%);
  bottom: 40px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f2f2f2;
  transform: translateX(50%);
}

.speech-bubble p {
  margin: 0; /* 기본 마진 제거 */
  line-height: 30px; /* 텍스트 세로 가운데 정렬 */
}

/* 사용자 */
textarea {
  margin-top: 260px;
  width: 100%;
  height: 51px;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.textarea:focus {
  outline: none;
}

.submit-button {
  position: absolute;
  top: 445px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.submit-button img {
  width: 100%; /* 이미지의 너비를 버튼에 맞게 조정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
}
